<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <title>My Medium</title>
</head>
<body>

  <section class="section">
    <div class="container">
      <section class="columns">
        <!-- left -->
        <section class="column">
          <article>
            <% @clap.first(1).each do |story|  %>
              <figure class="image">
                <%= image_tag story.cover_image.variant(resize: '300x150') %>
              </figure><br>
                <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                <p class="content has-text-grey"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
              </footer>
            <% end %>
          </article>
        </section>
        <!-- left -->
        <!-- middle -->
        <section class="column">
          <% @clap[2, 4].each do |story| %>
            <article class="media">
              <figure class="media-left">
                <%= image_tag story.cover_image.variant(resize: '100x100') %>
              </figure>
              <div class="media-content">
                <h2 class="title is-5"><%= link_to story.title.truncate(20), story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                <footer>
                  <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                  <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
                </footer>
              </div>
            </article>
          <% end %>
        </section>
        <!-- middle -->
        <!-- right -->
        <section class="column">
          <% @clap[1, 1].each do |story| %>
            <article>
              <figure class="image">
                <%= image_tag story.cover_image.variant(resize: '350x200') %>
              </figure><br>
              <h2 class="title is-5"><%= link_to story.title.truncate(20), story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
              <p class="content has-text-grey"><%= strip_tags(story.content).truncate(200) %></p>
              <footer>
                <p class="has-text-grey-dark"> <%= story.user.username %> </p>
                <p class="has-text-grey-dark"> <%= time_ago_in_words(story.created_at) %> </p>
              </footer>
            </article>
          <% end %>
        </section>
        <!-- right -->
      </section>

      <hr>

      <section class="columns">
        <!-- article list -->
        <section class="column is-two-thirds">
            <h2 class="title is-4 has-text-primary">最新記事一覧</h2>
            <hr>
            <% @stories.first(10).each do |story|  %>
                <article class="media">
                    <div class="media-content">
                    <h2 class="title is-4"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></h2>
                    <p class="content has-text-grey"><%= strip_tags(story.content).truncate(200) %></p>
                    <footer>
                        <p class="has-text-grey-dark">
                         <%= story.user.username %> | <%= time_ago_in_words(story.created_at) %>
                        </p>
                    </footer>
                    </div>
                      <% if story.cover_image.attached? %>
                      <figure class="media-right">
                      <%= image_tag story.cover_image.variant(resize: '150x150') %>
                      </figure>
                    <% end %>
                </article>
            <% end %>
        </section>
        <!-- article list -->
        
        <section class="column">
          <h2 class="title is-4 has-text-primary">ランダム記事一覧</h2>
          <hr>
            <% @stories.sample(@range).each do |story| %>
              <article class="media">   
                <div class="media-left">
                  <i class="fas fa-book has-text-dark"></i>
                </div>
              <div class="media-content">
                <p class="title is-5"><%= link_to story.title, story_page_path(story.user.username, story), class: 'has-text-grey-dark' %></p>
                <footer>
                  <p class="content has-text-grey"><%= strip_tags(story.content).truncate(50) %></p>
                </footer>
              </div>
            </article>
          <% end %>
        </section>
      </section>